/* Radar Table Width */
/* Header Width */

compare-table table thead th {
    height : 10vh;
}

compare-table table thead th > div {
    width: 100%;
    overflow: hidden;
}
compare-table table tbody td {
    height: 10vh;
}
compare-table table tfoot td {
    height : 10vh;
}


/* Fixed Header and Fixed Footer Setting */
compare-table table {
    table-layout:fixed;
    margin:auto;
}

compare-table thead, tfoot {
    display:table;
    width:calc(100% - 12px);
}

@media (min-width: 768px) {
    compare-table thead, tfoot {
        width:calc(100% - 17px);
    }
}


compare-table tbody {
    height:43vh;
    overflow:auto;
    overflow-x:hidden;
    display:block;
    width:100%;
}
compare-table tbody tr {
    display:table;
    width:100%;
    table-layout:fixed;
}

/* font-size */
compare-table .td-up {
    font-size: 1.2rem;
} 
compare-table .td-down {
    font-size: 0.9rem;
    color : lightgray;
}
/* Layout */
compare-table table {
    table-layout: fixed;
    width : 100%;
    border-collapse: separate;
    border-spacing: 0px;
    word-wrap: break-word;
}

compare-table table th:nth-child(1), compare-table td:nth-child(1){
    width : 32%
}

compare-table table th:not(:nth-child(1)), compare-table td:not(:nth-child(1)) {
    width : 17%
}
