


/* Table Background Color*/
compare-table table {background-color : #404040}
compare-table table th:nth-child(1){background-color:DimGrey}
compare-table table th:nth-child(2), {background-color:rgba(255,99,132,0.2)}
compare-table table td:nth-child(2){background-color:rgba(255,99,132,0.4)}
compare-table table th:nth-child(3){background-color:rgba(154,208,245,0.2)}
compare-table table td:nth-child(3){background-color:rgba(154,208,245,0.4)}
compare-table table th:nth-child(4){background-color:rgba(255,230,170,0.2)}
compare-table table td:nth-child(4){background-color:rgba(255,230,170,0.4)}
compare-table table th:nth-child(5){background-color:DimGrey}

/* Text Align */
compare-table table th {text-align: center;}
compare-table table td {text-align: center;}

/* Border */
compare-table table {border-top: 2px solid lightgray; border-bottom: 2px solid lightgray; }
compare-table table thead {border-bottom: 1px solid lightgray}
compare-table table tfoot {border-top: 1px solid lightgray}

compare-table table th:not(:nth-child(1)) {border-left : 2px solid rgba(0,0,0,0); border-right : 2px solid rgba(0,0,0,0);}
compare-table table tbody td {border-bottom: 1px solid gray;}

/* first column border : not active */
compare-table table tbody tr:first-child td:nth-child(2) { border-top : 2px solid rgba(0,0,0,0);}
compare-table table tbody td:nth-child(2) { border-left : 2px solid rgba(0,0,0,0); border-right :2px solid rgba(0,0,0,0)}
compare-table table tbody tr:last-child td:nth-child(2) { border-bottom : 2px solid rgba(0,0,0,0);}

/* first column border : active */
compare-table table tbody tr:first-child td.active:nth-child(2) { border-top : 2px solid red;}
compare-table table tbody td.active:nth-child(2) { border-left : 2px solid red; border-right :2px solid red}
compare-table table tbody tr:last-child td.active:nth-child(2) { border-bottom : 2px solid red;}

/* second column border */
compare-table table tbody tr:first-child td:nth-child(3) { border-top : 2px solid rgba(0,0,0,0);}
compare-table table tbody td:nth-child(3) { border-left : 2px solid rgba(0,0,0,0); border-right :2px solid rgba(0,0,0,0)}
compare-table table tbody tr:last-child td:nth-child(3) { border-bottom : 2px solid rgba(0,0,0,0);}

compare-table table tbody tr:first-child td.active:nth-child(3) { border-top : 2px solid blue;}
compare-table table tbody td.active:nth-child(3) { border-left : 2px solid blue; border-right :2px solid blue}
compare-table table tbody tr:last-child td.active:nth-child(3) { border-bottom : 2px solid blue;}

/* third column border */
compare-table table tbody tr:first-child td:nth-child(4) { border-top : 2px solid rgba(0,0,0,0);}
compare-table table tbody td:nth-child(4) { border-left : 2px solid rgba(0,0,0,0); border-right :2px solid rgba(0,0,0,0)}
compare-table table tbody tr:last-child td:nth-child(4) { border-bottom : 2px solid rgba(0,0,0,0);}

compare-table table tbody tr:first-child td.active:nth-child(4) { border-top : 2px solid yellow;}
compare-table table tbody td.active:nth-child(4) { border-left : 2px solid yellow; border-right :2px solid yellow}
compare-table table tbody tr:last-child td.active:nth-child(4) { border-bottom : 2px solid yellow;}


/* table margin */

.result-percent-symbol {
    font-size : 1rem;
}

.result-up-down-arrow {
    font-size : 1rem;
    margin-left : 0.5em;
    margin-right: 0.2em;
}

.result-percent-text {
    font-size:1.5rem;
    font-family: beantown;
}

@media (min-width: 768px) {
    .result-up-down-arrow {
        font-size : 0.6rem;
        margin-left : 0.5em;
        margin-right: 0.2em;
    }
    
    .result-percent-text {
        font-size:1.0rem;
        font-family: beantown;
    }

    .result-percent-symbol {
        font-size : 0.6rem;
    }
}

/* Tooltip text */
.tooltip-c .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;
 
    /* Position the tooltip text - see examples below! */
    position: absolute;
    z-index: 1;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip-c:hover .tooltiptext {
    visibility: visible;
}


/* <div class="tooltip-c">Hover over me
<span class="tooltiptext">Tooltip text</span>
</div> */


/* Scroll Bar... */
@media (max-width: 767px) {
    compare-table tbody::-webkit-scrollbar {
        -webkit-appearance: none;
    }
    
    compare-table tbody::-webkit-scrollbar:vertical {
        width: 12px;
    }
    
    compare-table tbody::-webkit-scrollbar:horizontal {
        height: 12px;
    }
    
    compare-table tbody::-webkit-scrollbar-thumb {
        background-color: rgba(0, 0, 0, .5);
        border-radius: 10px;
        border: 2px solid #ffffff;
    }
    
    compare-table tbody::-webkit-scrollbar-track {
        border-radius: 10px;  
        background-color: #ffffff; 
    }
}

compare-table tfoot {
    color: white;
    font-size: 1.0em;
    font-weight: bold;
}

compare-table span.weak {
    font-size: 0.8em;
    color: lightgray;
}

compare-table tfoot up-down-symbol {
    font-size: 1.2em;
}