
/* Height */
.hero-header {

}

.hero-header .current-player-icon {
    height : 12vh;
    max-height: 100px;
}

/* Width */
.hero-header .current-player-info {
    flex-shrink: 0;
}

/* margin and padding */
.hero-header {
    margin-top : 5px;
    margin-left : 3px;
    margin-right : 3px;
}

.current-player-info {
    margin-left : 5px;
}

.current-player-buttons {
    margin-left : 5px;
}

.current-player-etc {
    margin-left : 15px;
}

.current-player-buttons .glyphicon {
    padding : 3px
}

/* Over flow */

/* Font */
.hero-header .current-player-info .battle-name {
    font-size: 2rem;
}
.hero-header .current-player-info .level {
    font-size: 1.5rem;
}

.current-player-buttons {
    font-size : 1rem;
}


.hero-nav-tabs {
    margin-top : 3px;
    margin-left : 3px;
    margin-right : 3px;
}

.hero-main > .base-padding {
    padding-left    : 15px;
    padding-right   : 15px;
}

.nav.nav-tabs .nav-link {
    color : #404040
}

/* Overide Bootstrap Style */
/* .hero-main .nav>li>a:hover,
.hero-main .nav>li>a:hover {
    background-color : transparent;
} */
#local-hero-tabs a.active {
    background-color : black;
    color : white;
}