<div class="hero-header">
    <div class="flex h-100-pct">
        <img class="current-player-icon" ng-src="{{$ctrl.currentPlayer.iconUrl}}"/>
        <div class="current-player-info flex f-align-h-end">
            <div class="flex-r">
                <div class="battle-name">{{$ctrl.currentPlayer.btn}}</div>
                <div class="level">Lv. 142</div>
            </div>
            <!-- <div class="level">{{$ctrl.currentPlayer.level}}</div> -->
        </div>
        <div class="current-player-buttons flex f-align-h-end">
            <div class="flex-r">
                <div class="flex">
                    <div><i class="material-icons">autorenew</i></div>
                    <div><i class="material-icons">star_border</i></div>
                    <div><!-- <i class="material-icons">star</i> --></div>
                    <div>{{$ctrl.currentPlayer.starCount | prefixPlus}}</div>
                </div>
                <div class="flex">
                    <div><i class="material-icons">explore</i></div>
                    <div><i class="material-icons">thumb_up</i></div>
                    <div>{{$ctrl.currentPlayer.thumbCount | prefixPlus}}</div>
                </div>
            </div>
        </div>
        <div class="current-player-etc" style="overflow: hidden">
            <div>One Line Comment</div>
            <div>recent update : {{$ctrl.currentPlayer.lastUpdateTimeStamp}}</div>
        </div>
    </div>
</div>