<div class="hero-header">
    <div class="flex">
        <img class="current-player-icon" ng-src="{{$ctrl.currentPlayer.iconUrl}}"/>
        <div class="current-player-info flex f-h-end">
            <div class="flex-column">
                <div class="battle-name">{{$ctrl.currentPlayer.btn}}</div>
                <!-- <div class="level">Lv. 142</div> -->
                <div class="flex">
                    <div>
                        <div>최근 전적 갱신</div>
                        <div>{{$ctrl.currentPlayer.lastUpdateTimeStamp | recentUpdate }}</div>
                    </div>
                </div>
            </div>
            <!-- <div class="level">{{$ctrl.currentPlayer.level}}</div> -->
        </div>
        <div class="current-player-buttons flex f-h-end">
            <div class="flex">
                <div ng-click="$ctrl.refreshBtnClicked()" class="refresh"><i class="material-icons">autorenew</i></div>
                <div ng-click="$ctrl.starBtnClicked()" class="favorite"><i class="material-icons">star_border</i></div>
                <!-- <div>{{$ctrl.currentPlayer.starCount | prefixPlus}}</div> -->
                <!-- <div ng-click="$ctrl.thumbBtnClicked()" class="thumb"><i class="material-icons">thumb_up</i></div> -->
                <!-- <div>{{$ctrl.currentPlayer.thumbCount | prefixPlus}}</div> -->
            </div>
        </div>
        <!-- <div class="current-player-etc" style="overflow: hidden">
            <div>One Line Comment</div>
            <div>recent update : {{$ctrl.currentPlayer.lastUpdateTimeStamp | recentUpdate }}</div>
        </div> -->
    </div>
    <div class="hero-nav-tabs" id="local-hero-tabs" >
        <ul class="nav nav-tabs">
            <li id="nav-tab-summary" class="nav-item"><a data-toggle="tab" class="nav-link" ui-sref-active="active" ng-click="$ctrl.moveTab('summary')">Summary</a></li>
            <li id="nav-tab-detail" class="nav-item"><a data-toggle="tab" class="nav-link" ui-sref-active="active" ng-click="$ctrl.moveTab('detail')">Detail</a></li>
            <li id="nav-tab-compare" class="nav-item"><a data-toggle="tab" class="nav-link" ui-sref-active="active" ng-click="$ctrl.moveTab('compare')">Compare</a></li>
            <li id="nav-tab-favorites" class="nav-item"><a data-toggle="tab" class="nav-link" ui-sref-active="active" ng-click="$ctrl.moveTab('favorites')">Favorites</a></li>
            <!-- <li id="nav-tab-rank" class="nav-item"><a data-toggle="tab" class="nav-link" ui-sref-active="active" ng-click="$ctrl.moveTab('ranking')">Ranking</a></li> -->
            <!-- <li id="nav-tab-admin" class="nav-item"><a data-toggle="tab" class="nav-link" ui-sref-active="active" ng-click="$ctrl.moveTab('insights')">Insights</a></li> -->
            <!-- <li id="nav-tab-admin" class="nav-item"><a data-toggle="tab" class="nav-link" ui-sref-active="active" ng-click="$ctrl.moveTab('admin')">Admin</a></li> -->
        </ul>
    </div>
</div>