<nav class="navbar fixed-top navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand mb-0" href="/#!/index">ggez</a>

    <!-- Control Pannel -->
    <div class="right-align">
        <button class="custom" type="button" data-toggle="modal" data-target="#i18n-modal">
            <img src="/assets/svgs/icons/si-glyph-global.svg" />
        </button>
        <button ng-click="$ctrl.goRandomPage()" class="custom" type="button">
            <img src="/assets/svgs/icons/si-glyph-arrow-shuffle.svg" />
        </button>
        <div class="btn-group inline-block">
            <button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="fas fa-user"></i>
            </button>
            <div class="dropdown-menu align-right">
                <div ng-if="!$ctrl.isSignin">
                    <button class="dropdown-item" type="button" data-toggle="modal" data-target="#register-modal" ng-click="$ctrl.onSignUpModalBtn()" translate>NAV.SIGN_UP</button>
                    <button class="dropdown-item" type="button" data-toggle="modal" data-target="#signin-modal" ng-click="$ctrl.onSignInModalBtn()" translate>NAV.SIGN_IN</button>
                </div>
                <div ng-if="$ctrl.isSignin">
                    <button class="dropdown-item" type="button" data-toggle="modal" data-target="#account-setting-modal" ng-click="$ctrl.onSettingModalBtn()" translate>NAV.USER_SETTING</button>
                    <button class="dropdown-item" type="button" ng-click="$ctrl.onSignOut()" translate>NAV.SIGN_OUT</button>
                </div>
            </div>
        </div>
        <div class="btn-group inline-block">
            <button type="button" class="btn btn-secondary" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" ng-click="">
                <i class="far fa-bell"></i><span class="ml-2 badge badge-light">{{$ctrl.notices.length | defaultValue : '0'}}</span>
            </button>
            <div class="dropdown-menu align-right">
                <button class="dropdown-item" type="button" ng-repeat="notice in $ctrl.notices" ng-click="$ctrl.onClickNotice(notice._id)">{{notice.title}}</button>
            </div>
        </div>
        <button class="custom navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
            aria-expanded="false" aria-label="Toggle navigation">
            <img src="/assets/svgs/icons/si-glyph-left-justify.svg" />
        </button>
    </div>

    <!-- Collapsed Content -->
    <div class="collapse navbar-collapse left-align" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" ng-click="$ctrl.goFreeBoard()" translate>NAV.BOARD</a>
            </li>
            <li class="nav-item">
                <a class="nav-link disabled" href="" translate>NAV.BUG_REPORT</a>
            </li>
            <li class="nav-item">
                <a class="nav-link disabled" href="" translate>NAV.SCRIM</a>
            </li>
        </ul>
    </div>
</nav>

<!-- i18n Modal -->
<div class="modal fade" id="i18n-modal" role="dialog" aria-labelledby="i18nModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="i18nModalLabel" translate>MODAL.I18N.HEADER</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="btn-group btn-group-toggle" data-toggle="buttons">
                    <label class="btn btn-secondary" ng-click="$ctrl.tempSelectedLang='ko'" translate>
                        <input type="radio" name="options" id="option1" autocomplete="off" checked> MODAL.I18N.LANG_KR
                    </label>
                    <label class="btn btn-secondary" ng-click="$ctrl.tempSelectedLang='en'" translate>
                        <input type="radio" name="options" id="option2" autocomplete="off"> MODAL.I18N.LANG_EN
                    </label>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal" translate>MODAL.I18N.CLOSE</button>
                <button type="button" class="btn btn-primary" ng-click="$ctrl.changeLang()" translate>MODAL.I18N.SELECT_CHANGES</button>
            </div>
        </div>
    </div>
</div>

<!-- SignUp Modal -->
<div class="modal fade" id="register-modal" role="dialog" aria-labelledby="registerModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <form name="$ctrl.registerForm">
                    <div class="form-group">
                        <label class="col-form-label" translate>MODAL.SIGN_UP.USERNAME</label>
                        <input type="text" class="form-control" placeholder="{{ 'MODAL.SIGN_UP.USERNAME_PLACEHOLDER' | translate }}" name="userName"
                            ng-model="$ctrl.register.userName" ng-class="{ 'is-invalid' : $ctrl.formErrors.signUp.userName }">
                        <div class="invalid-feedback d-block" ng-show="$ctrl.formErrors.signUp.userName" translate>
                            MODAL.SIGN_UP.INVALID
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-form-label" translate>MODAL.SIGN_UP.EMAIL</label>
                        <input type="text" class="form-control" ng-model="$ctrl.register.email" ng-class="{ 'is-invalid' : $ctrl.formErrors.signUp.email }">
                        <div class="invalid-feedback d-block" ng-show="$ctrl.formErrors.signUp.email" translate>
                            MODAL.SIGN_UP.INVALID
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-form-label" translate>MODAL.SIGN_UP.EMAIL_INVITATION_CODE</label>
                        <div class="input-group">
                            <input type="text" class="form-control" ng-model="$ctrl.register.invitationCode">
                            <div class="input-group-append">
                                <button type="submit" class="btn btn-primary" ng-click="$ctrl.onRequestInvitation()">
                                    <span ng-show="!$ctrl.ajaxFlags.invitation" translate> MODAL.COMMON.REQUEST </span>
                                    <span ng-show="$ctrl.ajaxFlags.invitation">
                                        <i class="fas fa-spinner fa-pulse"></i>
                                    </span>
                                </button>
                            </div>
                        </div>
                        <div ng-show="$ctrl.expireAfterSeconds"><span translate>MODAL.SIGN_UP.EXPIRE_INVITATION_CODE</span> : {{ $ctrl.expireAfterSeconds}}</div>
                    </div>
                    <div class="form-group">
                        <label class="col-form-label" translate>MODAL.SIGN_UP.PASSWORD</label>
                        <input type="password" class="form-control" ng-model="$ctrl.register.password">
                    </div>
                    <div class="form-group">
                        <label class="col-form-label" translate>MODAL.SIGN_UP.PASSWORD_CONFIRM</label>
                        <input type="password" class="form-control" ng-model="$ctrl.register.passwordConf">
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" ng-click="$ctrl.onSignUp()" translate>MODAL.SIGN_UP.SIGN_UP</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal" translate>MODAL.SIGN_UP.CANCEL</button>
            </div>
        </div>
    </div>
</div>

<!-- Sign in Modal -->
<div class="modal fade" id="signin-modal" role="dialog" aria-labelledby="signInModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" translate>MODAL.SIGN_IN.HEADER</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group">
                        <label for="recipient-name" class="col-form-label">E-Mail :</label>
                        <input type="text" class="form-control" ng-class="{'is-invalid' : $ctrl.formErrors.signIn.email}" ng-model="$ctrl.signIn.email">
                        <div class="invalid-feedback d-block" ng-show="$ctrl.formErrors.signIn.email" translate>
                                MODAL.SIGN_IN.INVALID
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="recipient-name" class="col-form-label">PASSWORD : </label>
                        <input type="password" class="form-control" ng-class="{'is-invalid' : $ctrl.formErrors.signIn.password}" ng-model="$ctrl.signIn.password">
                        <div ng-show="$ctrl.formErrors.signIn.password" class="invalid-feedback d-block" translate>
                                MODAL.SIGN_IN.INVALID
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" ng-click="$ctrl.onSignIn()" translate>MODAL.SIGN_IN.ON_SIGN_IN</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal" translate>MODAL.SIGN_IN.ON_CLOSE</button>
            </div>
        </div>
    </div>
</div>

<!-- Account Setting in Modal -->
<div class="modal fade" id="account-setting-modal" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" translate>MODAL.ACCOUNT_SETTING.HEADER</h5>
                <div id="account-setting-spinner" class="fa-3x" style="margin-left:0.5em; align-self:center; font-size:1.0em">
                    <i class="fas fa-spinner fa-pulse"></i>
                </div>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group">
                        <label class="col-form-label" translate>MODAL.ACCOUNT_SETTING.EMAIL</label>
                        <input type="text" class="form-control" ng-disabled="true" ng-model="$ctrl.userProfile.email">
                    </div>
                    <!-- user name change -->
                    <div class="form-group">
                        <label class="col-form-label" translate>MODAL.ACCOUNT_SETTING.USERNAME</label>
                        <div class="input-group">
                            <input type="text" class="form-control" ng-disabled="!$ctrl.enable.editUserName" ng-model="$ctrl.userProfile.userName">
                            <div class="input-group-append">
                                <button type="submit" class="btn btn-primary" ng-click="$ctrl.enable.editUserName = !$ctrl.enable.editUserName" translate>MODAL.COMMON.EDIT</button>
                            </div>
                        </div>
                        <div ng-show="$ctrl.formErrors.setting.userName" class="invalid-feedback d-block">
                                MODAL.ACCOUNT_SETTING.INVALID
                        </div>
                    </div>
                    <!-- battle tag change -->
                    <div class="form-group">
                        <label class="col-form-label" translate>MODAL.ACCOUNT_SETTING.BATTLETAG</label>
                        <div class="input-group">
                            <input type="text" class="form-control" placeholder="{{ 'MODAL.ACCOUNT_SETTING.NOT_REGISTERED_BATTLETAG' | translate }}"
                                ng-disabled="true" ng-model="$ctrl.userProfile.battleTag">
                            <div class="input-group-append">
                                <button type="submit" class="btn btn--battle-net" ng-click="$ctrl.registerBtg()"></button>
                            </div>
                        </div>
                    </div>
                    <!-- password change -->
                    <!-- <label class="col-form-label" translate="">MODAL.ACCOUNT_SETTING.PASSWORD</label>
                    <label class="col-form-label" translate="">MODAL.ACCOUNT_SETTING.PASSWORD_EDIT</label>
                    <div class="form-group mx-sm-3 mb-2">
                        <input type="password" class="form-control" placeholder="Password" ng-model="">
                    </div>
                    <label class="col-form-label" translate="">MODAL.ACCOUNT_SETTING.PASSWORD_EDIT_CONFIRM</label>
                    <div class="form-group mx-sm-3 mb-2">
                        <input type="password" class="form-control" placeholder="Password" ng-model="">
                    </div> -->
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" ng-disabled="$ctrl.ajaxFlags.updateProfile" ng-click="$ctrl.onProfileUpdate()">
                    <span ng-show="!$ctrl.ajaxFlags.updateProfile" translate> MODAL.ACCOUNT_SETTING.SAVE_CHANGES </span>
                    <span ng-show="$ctrl.ajaxFlags.updateProfile">
                        <i class="fas fa-spinner fa-pulse"></i>
                    </span>
                </button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal" translate>MODAL.COMMON.CLOSE</button>
            </div>
        </div>
    </div>
</div>