<nav class="navbar fixed-top navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand mb-0" href="/#!/index">ggez</a>

    <!-- Control Pannel -->
    <div class="right-align">
        <button class="custom" type="button" data-toggle="modal" data-target="#i18n-modal" aria-controls="" aria-expanded="" aria-label="">
            <img src="/assets/svgs/icons/si-glyph-global.svg" />
        </button>
        <button ng-click="$ctrl.goRandomPage()" class="custom" type="button" aria-controls="" aria-expanded="" aria-label="">
            <img src="/assets/svgs/icons/si-glyph-arrow-shuffle.svg" />
        </button>
        <div class="btn-group inline-block">
            <button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="fas fa-user"></i>
            </button>
            <div class="dropdown-menu align-right">
                <div ng-if="!$ctrl.isSignin">
                    <button class="dropdown-item" type="button" data-toggle="modal" data-target="#register-modal" ng-click="$ctrl.onSignupModalBtn()">Register</button>
                    <button class="dropdown-item" type="button" data-toggle="modal" data-target="#signin-modal" ng-click="$ctrl.onSigninModalBtn()">Sign In</button>
                </div>
                <div ng-if="$ctrl.isSignin">
                    <button class="dropdown-item" type="button" data-toggle="modal" data-target="#account-setting-modal" ng-click="$ctrl.onSettingModalBtn()">Setting</button>
                    <button class="dropdown-item" type="button" ng-click="$ctrl.signOut()">Sign out</button>
                </div>
            </div>
        </div>
        <div class="btn-group inline-block">
            <button type="button" class="btn btn-secondary" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="far fa-bell"></i>
            </button>
            <div class="dropdown-menu align-right">
            </div>
        </div>
        <button class="custom navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
            aria-expanded="false" aria-label="Toggle navigation">
            <img src="/assets/svgs/icons/si-glyph-left-justify.svg" />
        </button>
    </div>

    <!-- Collapsed Content -->
    <div class="collapse navbar-collapse left-align" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" ng-click="$ctrl.goFreeBoard()" translate>NAV.BOARD</a>
            </li>
            <li class="nav-item">
                <a class="nav-link disabled" href="" translate>NAV.BUG_REPORT</a>
            </li>
            <li class="nav-item">
                <a class="nav-link disabled" href="" translate>NAV.SCRIM</a>
            </li>
        </ul>
    </div>
</nav>

<!-- i18n Modal -->
<div class="modal fade" id="i18n-modal" role="dialog" aria-labelledby="i18nModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="i18nModalLabel" translate>MODAL.I18N.HEADER</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="btn-group btn-group-toggle" data-toggle="buttons">
                    <label class="btn btn-secondary" ng-click="$ctrl.tempSelectedLang='ko'" translate>
                        <input type="radio" name="options" id="option1" autocomplete="off" checked> MODAL.I18N.LANG_KR
                    </label>
                    <label class="btn btn-secondary" ng-click="$ctrl.tempSelectedLang='en'" translate>
                        <input type="radio" name="options" id="option2" autocomplete="off"> MODAL.I18N.LANG_EN
                    </label>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal" translate>MODAL.I18N.CLOSE</button>
                <button type="button" class="btn btn-primary" ng-click="$ctrl.changeLang()" translate>MODAL.I18N.SELECT_CHANGES</button>
            </div>
        </div>
    </div>
</div>

<!-- Register Modal -->
<div class="modal fade" id="register-modal" role="dialog" aria-labelledby="registerModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <form>
                    <div class="form-group">
                        <label class="col-form-label" translate>REGISTER.USER_NAME</label>
                        <input type="text" class="form-control" ng-model="$ctrl.register.userName">
                    </div>
                    <div class="form-group">
                        <label class="col-form-label" translate>REGISTER.EMAIL</label>
                        <input type="text" class="form-control" ng-model="$ctrl.register.email">
                    </div>
                    <div class="form-group has-danger">
                        <label class="col-form-label" translate>REGISTER.PASSWORD</label>
                        <input type="password" class="form-control" ng-model="$ctrl.register.password">
                    </div>
                    <div class="form-group has-danger">
                        <label class="col-form-label" translate>REGISTER.PASSWORD_CONFIRM</label>
                        <input type="password" class="form-control" ng-model="$ctrl.register.passwordConf">
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" ng-click="$ctrl.signUp()">Register</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancle</button>
            </div>
        </div>
    </div>
</div>

<!-- Sign in Modal -->
<div class="modal fade" id="signin-modal" role="dialog" aria-labelledby="signInModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" translate>MODAL.SIGNIN.HEADER</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group">
                        <label for="recipient-name" class="col-form-label">E-Mail :</label>
                        <input type="text" class="form-control" ng-model="$ctrl.email">
                    </div>
                    <div class="form-group has-danger">
                        <label for="recipient-name" class="col-form-label">PASSWORD : </label>
                        <input type="password" class="form-control" ng-class="{'is-invalid' : $ctrl.wrongPassword}" ng-model="$ctrl.password">
                        <div ng-show="$ctrl.wrongPassword" class="invalid-feedback">
                            Wrong Password
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" ng-click="$ctrl.signIn()">Sign In</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

<!-- Account Setting in Modal -->
<div class="modal fade pos-relative" id="account-setting-modal" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" translate>MODAL.ACCOUNT_SETTING.HEADER</h5>
                <div id="account-setting-spinner" class="fa-3x" style="margin-left:0.5em; align-self:center; font-size:1.0em">
                    <i class="fas fa-spinner fa-pulse"></i>
                </div>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <!-- user name -->
                <label class="col-form-label" translate="">MODAL.ACCOUNT_SETTING.USERNAME</label>
                <form class="form-inline">
                    <div class="form-group mx-sm-3 mb-2">
                        <input type="text" class="form-control" ng-model="$ctrl.username" readonly>
                    </div>
                    <button type="submit" class="btn btn-primary mb-2" ng-click="" translate>MODAL.COMMON.EDIT</button>
                </form>
                <!-- battle tag -->
                <label class="col-form-label" translate="">MODAL.ACCOUNT_SETTING.BATTLETAG</label>
                <form class="form-inline">
                    <div class="form-group mx-sm-3 mb-2">
                        <input type="text" class="form-control" placeholder="{{ 'MODAL.ACCOUNT_SETTING.NOT_REGISTERED_BATTLETAG' | translate }}" ng-model="$ctrl.tempBattletag" readonly>
                    </div>
                    <button type="submit" class="btn btn-primary mb-2" ng-click="$ctrl.registerBtg()" translate>MODAL.ACCOUNT_SETTING.REGISTER</button>
                </form>
                <label class="col-form-label" translate="">MODAL.ACCOUNT_SETTING.PASSWORD</label>
                <form class="m-l-15">
                    <label class="col-form-label" translate="">MODAL.ACCOUNT_SETTING.PASSWORD_EDIT</label>
                    <div class="form-group mx-sm-3 mb-2">
                        <input type="password" class="form-control" placeholder="Password" ng-model="$ctrl.tempPassword">
                    </div>
                    <label class="col-form-label" translate="">MODAL.ACCOUNT_SETTING.PASSWORD_EDIT_CONFIRM</label>
                    <div class="form-group mx-sm-3 mb-2">
                        <input type="password" class="form-control" placeholder="Password" ng-model="$ctrl.tempPassword2">
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" ng-click="$ctrl.onSettingSaveChanges()" translate>MODAL.ACCOUNT_SETTING.SAVE_CHANGES</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal" translate>MODAL.COMMON.CLOSE</button>
            </div>
        </div>
    </div>
</div>

