<h1>Test Page</h1>

<h2>Buttons</h2>    
<div class="btn-group" data-toggle="buttons">
  <label class="btn btn-primary">
    <input type="checkbox" ng-model="$ctrl.breakfast" checked> Breakfast
  </label>
  <label class="btn btn-primary">
    <input type="checkbox" ng-model="$ctrl.lunch" > Lunch
  </label>
  <label class="btn btn-primary">
    <input type="checkbox" ng-model="$ctrl.dinner"> Dinner
  </label>
</div>
<pre><code>{{ $ctrl.breakfast | json}}</code></pre>

<h2>Form tag in plain</h2>
<label>Name:
    <input type="text" name="userName"
            ng-model="$ctrl.user.name1"/>
</label>
<pre><code>{{ $ctrl.user.name1 | json}}</code></pre>

<h2>Form tag in boot strap</h2>
<div class="form-group">
    <label for="usr">Name:</label>
    <input type="text" class="form-control" id="usr" ng-model="$ctrl.user.name2">
</div>
<pre><code>{{ $ctrl.user.name2 | json}}</code></pre>

<h2>Plain DropDown test </h2>
<select ng-model="$ctrl.singleSelect">
    <option value="volvo">Volvo</option>
    <option value="saab">Saab</option>
    <option value="mercedes">Mercedes</option>
    <option value="audi">Audi</option>
</select>
<pre><code>{{ $ctrl.singleSelect | json}}</code></pre>

<h2>Bootstrap DropDropDown test...</h2>
<div class="dropdown">
    <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Dropdown Example
    <span class="caret"></span></button>
    <ul class="dropdown-menu">
        <li ng-model="$ctrl.singleSelect='html'">HTML</li>
        <li ng-model="$ctrl.singleSelect='css'">CSS</li>
        <li ng-model="$ctrl.singleSelect='js'">JavaScript</li>
    </ul>
</div>

<h2>Knob</h2>
<knob ng-model="$ctrl.rating"></knob>
<h1>{{$ctrl.rating}}</h1>

<h2>Toolbar</h2>
<button class="settings-button" toolbar-tip="{content: '#toolbar-options', position: 'top'}" id="format-toolbar1">
        <i class="fa fa-cog">Jsaer</i>
</button>

<div class="dropdown">
    <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Dropdown Example
    <span class="caret"></span></button>
    <ul class="dropdown-menu">
        <li><a href="#">HTML</a></li>
        <li><a href="#">CSS</a></li>
        <li><a href="#">JavaScript</a></li>
    </ul>
</div>

<div id="toolbar-options" style="display:none">
    <a href="#"><span class="glyphicon glyphicon-asterisk"></span></a>
    <a href="#"><span class="glyphicon glyphicon-trash"></span></a>
    <a href="#"><span class="glyphicon glyphicon-trash"></span></a>
    <a href="#"><span class="glyphicon glyphicon-trash"></span></a>
    <a href="#"><span class="glyphicon glyphicon-trash"></span></a>
</div>

<h2>Loading Progress</h2>
<button ng-click="$ctrl.click()">Click</button>
<button ng-click="$ctrl.hide()">Hide</button>
<ui-view></ui-view>