.fixed-bottom {
	/* background-color : #404040; */
}

/* Button Style */
button{
	margin:0;
	color:grey;
	background-color : #404040;
	border: #999999;
}

#first-player-selector button:focus,
#second-player-selector button:focus,
#tier-selector button:focus{
	outline: none;
}

#first-player-selector button.active{
	color : white;
    border : 2px solid rgba(255,99,132,1);
}
#second-player-selector button.active{
	color : white;
    border : 2px solid rgba(154,208,245,1);	
}
#tier-selector button.active {
	color : white;
    border : 2px solid rgba(255,230,170,1);
}

/* Hero Container Style */

