<div class="hero-selectors-inner-container">
    <div id="fixed-bottom-collapse" class="fixed-bottom-content display-none">
        <!-- Common Player Data -->
        <div class="selector-separtor mode-detail"></div>
        <div id="p0-selector" class="player-selector mode-detail">
            <div class="btn-group" role="group">
                <button id="p0-yesterday-selected"   ng-click="$ctrl.onSelectorClicked($event)"  type="button">
                    <div>어제</div>
                    <div>{{$ctrl.p1GameLabel.yesterday | defaultValue : '-'}}</div>
                </button>
                <button id="p0-today-selected"       ng-click="$ctrl.onSelectorClicked($event)"  type="button">
                    <div>오늘</div>
                    <div>{{$ctrl.p1GameLabel.today | defaultValue : '-'}}</div>
                </button>
                <button id="p0-week-selected"        ng-click="$ctrl.onSelectorClicked($event)"  type="button">
                    <div>주간</div>
                    <div>{{$ctrl.p1GameLabel.week | defaultValue : '-'}}</div>
                </button>
                <button class="active2" id="p0-season-selected"       ng-click=""  type="button">
                    <div>시즌전체</div>
                    <div>{{$ctrl.p1GameLabel.season | defaultValue : '-'}}</div>
                </button>
            </div>
        </div>
        <!-- First Player Data -->
        <div class="selector-separtor mode-compare"></div>
        <div id="p1-selector" class="player-selector mode-compare">
            <div class="btn-group" role="group">
                <button id="p1-yesterday-selected"   ng-click="$ctrl.onSelectorClicked($event)"  type="button">
                    <div>어제</div>
                    <div>{{$ctrl.p1GameLabel.yesterday | defaultValue : '-'}}</div>
                </button>
                <button id="p1-today-selected"       ng-click="$ctrl.onSelectorClicked($event)"  type="button">
                    <div>오늘</div>
                    <div>{{$ctrl.p1GameLabel.today | defaultValue : '-'}}</div>
                </button>
                <button id="p1-week-selected"        ng-click="$ctrl.onSelectorClicked($event)"  type="button">
                    <div>주간</div>
                    <div>{{$ctrl.p1GameLabel.week | defaultValue : '-'}}</div>
                </button>
                <button id="p1-season-selected"       ng-click="$ctrl.onSelectorClicked($event)"  type="button">
                    <div>시즌전체</div>
                    <div>{{$ctrl.p1GameLabel.season | defaultValue : '-'}}</div>
                </button>
            </div>
        </div>
        <!-- Second Player Data -->
        <div class="selector-separtor mode-compare"></div>
        <div id="p2-selector" class="player-selector mode-compare">
            <div class="btn-group" role="group">
                <button id="p2-yesterday-selected"   ng-click="$ctrl.onSelectorClicked($event)"  type="button">
                    <div>어제</div>
                    <div>{{$ctrl.p2GameLabel.yesterday | defaultValue : '-'}}</div>
                </button>
                <button id="p2-today-selected"       ng-click="$ctrl.onSelectorClicked($event)"  type="button">
                    <div>오늘</div>
                    <div>{{$ctrl.p2GameLabel.today | defaultValue : '-'}}</div>
                </button>
                <button id="p2-week-selected"        ng-click="$ctrl.onSelectorClicked($event)"  type="button">
                    <div>주간</div>
                    <div>{{$ctrl.p2GameLabel.week | defaultValue : '-'}}</div>
                </button>
                <button id="p2-season-selected"       ng-click="$ctrl.onSelectorClicked($event)"  type="button">
                    <div>시즌전체</div>
                    <div>{{$ctrl.p2GameLabel.season | defaultValue : '-'}}</div>
                </button>
            </div>
        </div>
        <!-- 티어 데이터 -->
        <div class="selector-separtor"></div>
        <div id="tier-selector" class="tier-selector">
            <div class="btn-group" role="group">
                <button class="h-100-pct" ng-click="$ctrl.onSelectorClicked($event)"  id="bronze" type="button" >
                    <div class="h-50-pct"><img src="{{ 1000 | tierImageSrc}}"></div>
                    <div class="h-50-pct">{{$ctrl.tierGameLabel.bronze}}</div>
                </button>
                <button class="h-100-pct" ng-click="$ctrl.onSelectorClicked($event)"  id="silver" type="button"> 
                    <div class="h-50-pct"><img src="{{ 1500 | tierImageSrc}}"></div>
                    <div class="h-50-pct">{{$ctrl.tierGameLabel.silver}}</div>
                </button>
                <button class="h-100-pct" ng-click="$ctrl.onSelectorClicked($event)"  id="gold" type="button">
                    <div class="h-50-pct"><img src="{{ 2000 | tierImageSrc}}"></div>
                    <div class="h-50-pct">{{$ctrl.tierGameLabel.gold}}</div>
                </button>
                <button class="h-100-pct" ng-click="$ctrl.onSelectorClicked($event)"  id="platinum" type="button">
                    <div class="h-50-pct"><img src="{{ 2500 | tierImageSrc}}"></div>
                    <div class="h-50-pct">{{$ctrl.tierGameLabel.platinum}}</div>
                </button>
                <button class="h-100-pct" ng-click="$ctrl.onSelectorClicked($event)"  id="diamond" type="button">
                    <div class="h-50-pct"><img src="{{ 3000 | tierImageSrc}}"></div>
                    <div class="h-50-pct">{{$ctrl.tierGameLabel.diamond}}</div>
                </button>
                <button class="h-100-pct" ng-click="$ctrl.onSelectorClicked($event)"  id="grandmaster" type="button">
                    <div class="h-50-pct"><img src="{{ 3500 | tierImageSrc}}"></div>
                    <div class="h-50-pct">{{$ctrl.tierGameLabel.grandmaster}}</div>
                </button>
                <button class="h-100-pct" ng-click="$ctrl.onSelectorClicked($event)"  id="heroic" type="button">
                    <div class="h-50-pct"><img src="{{ 4000 | tierImageSrc}}"></div>
                    <div class="h-50-pct">{{$ctrl.tierGameLabel.heroic}}</div>
                </button>
            </div>
        </div>
        <div class="selector-separtor"></div>
        <div class="hero-selector">
            <div class="hero-selector-row flex" ng-repeat="heroGroup in $root.CONST.RESOURCE">
                <div id={{hero.id}} ng-repeat="hero in heroGroup.hero" class="hero-one-selector margin wh c-border pos-relative"  ng-click="$ctrl.onHeroClicked($event)">
                    <div class="first-player-games">{{$ctrl.heroGameLabelP1[hero.id].totalGames | playGamesLabel}}</div>
                    <div class="second-player-games">{{$ctrl.heroGameLabelP2[hero.id].totalGames | playGamesLabel}}</div>
                    <img class="img-wh" ng-src="{{hero.iconSrc}}" ng-class="{ 'gray-scale' : !$ctrl.hasGame($ctrl.heroGameLabelP1[hero.id].totalGames) && !$ctrl.hasGame($ctrl.heroGameLabelP2[hero.id].totalGames) }" />
                </div>
            </div>
        </div>
        <div class="selector-separtor"></div>
    </div>
    <div id="player-search-bar" class="player-search-bar display-none">
        <search-table player-list="$ctrl.searchedPlayerList" on-click="$ctrl.onClick($id)"></search-table>
        <div class="input-group">
            <input type="btn" class="form-control" ng-enter="$ctrl.onPlayerSearchBtn(serchInput)" ng-model="serchInput" placeholder="Search for..."/>
            <span class="input-group-btn">
                <button ng-click="$ctrl.toggleSearchTable()" type="button" class="btn btn-default btn-sm">
                    <i class="material-icons">arrow_drop_down</i>
                </button>
            </span>
            <span class="input-group-btn">
                <button ng-click="$ctrl.onPlayerSearchBtn(serchInput)" type="button" class="btn btn-default btn-sm">
                    <i id="player-search-icon" class="material-icons">search</i>
                    <div id="player-search-loader" class="loader display-none"></div>
                </button>
            </span>
        </div>
    </div>
    <div class="fixed-bottom-title flex">
        <!-- Header for detail -->
        <div class="mode-detail fixed-detail-header flex w-100-pct h-100-pct f-h-center">
            <div class="profile flex h-100-pct">
                <div class="h-100-pct">
                    <img  ng-src="{{$ctrl.selected.heroIndex | heroImageSrc}}"/>
                </div>
                <div class="text-box h-100-pct">
                    <div class="h-50-pct flex f-h-center upper-text">{{$ctrl.selected.heroIndex}}</div>
                    <div class="h-50-pct flex f-h-center lower-text">{{$ctrl.selected.p1Index}}</div>
                </div>
            </div>
            <button ng-click="$ctrl.onHeroSelectorsBtn()" type="button" class="btn btn-default btn-sm m-l-auto">
                <i class="material-icons">reorder</i>
            </button>
        </div>
        <!-- Header for compare -->
        <div class="mode-compare p-row w-100-pct">
            <div class="profile p1 row-2-box m-l-5">
                <div class="upper flex f-wh-center">
                    <div class="h-100-pct">
                        <img ng-src="{{$ctrl.cache.p1.cptpt | tierImageSrc}}"/>
                    </div>
                    <div class="overflow-hidden">
                        {{$ctrl.cache.p1.btn}}
                    </div>
                </div>
                <div class="lower flex f-wh-center">
                    {{$ctrl.selected.p1Index}}
                </div>
            </div>
            <div class="vs-label row-2-box">
                <div class="upper flex f-w-center f-h-end">VS</div>
                <div class="lower flex f-w-center f-h-start">{{$ctrl.selected.heroIndex}}</div>
            </div>
            <div class="profile p2 row-2-box">
                <div class="upper flex f-wh-center">
                    <div>
                        <img ng-src="{{$ctrl.cache.p2.cptpt | tierImageSrc}}"/>
                    </div>
                    <div>
                        {{ $ctrl.cache.p2.btn }} 
                    </div>
                </div>
                <div class="lower flex f-wh-center">
                    {{$ctrl.selected.p2Index}}
                </div>
            </div>
            <div class="flex f-wh-center m-l-auto">
                <button ng-click="$ctrl.onHeroSelectorsBtn()" type="button" class="btn btn-default btn-sm">
                    <i class="material-icons">reorder</i>
                </button>
                <button type="button" ng-click="$ctrl.onSearchBarBtn()" class="btn btn-default btn-sm">
                    <i class="material-icons">search</i>
                </button>
            </div>
        </div>
    </div>
</div>