

/**
    mode-compare
*/
/* Player */
.hero-selectors-inner-container .fixed-bottom-title .mode-compare
.profile .upper {
    color: black;
    font-weight: 900;
}

.hero-selectors-inner-container .fixed-bottom-title .mode-compare
.profile.p1 .upper {
    background-color: rgba(255,99,132,1);
}

.hero-selectors-inner-container .fixed-bottom-title .mode-compare
.profile.p2 .upper {
    background-color: rgba(154,208,245,1);
}

/* vs label font-size*/


.hero-selectors-inner-container .fixed-bottom-title .mode-compare
.vs-label .upper {
    border-bottom: 1px solid white;
}

.hero-selectors-inner-container .fixed-bottom-title .mode-compare
.vs-label .lower {

}

.hero-selectors-inner-container .fixed-bottom-content .mode-compare
input {
    width:100%
}

