/* 
index section:nth-child(1)
.padding {
    border: 1px solid red;
}

index section:nth-child(1)
.display-info-container {
    border: 1px solid red;
}

index section:nth-child(1)
.search-bar-container {
    border: 1px solid red;
}

index section:nth-child(1)
.player-table-container {
    border: 1px solid red;
}

index section:nth-child(1)
.anchor-container {
    border: 1px solid orange;
} */
