<!-- Compare Root Scope Label vs Control scope -->
<!-- <div>{{$root.CONST.LABEL.summary.trends.today}}</div>
<div>{{$ctrl.label..trend.today}}</div> -->
<div class="hero-summary">
    <section class="profile">
		<div class="header">
            <div class="title">Profile</div>
            <div class="line"><div></div></div>
        </div>
        <div class="content flex">
            <div class="divided-content">
                <div class="font-l">{{$ctrl.label.profile.cptpt}}</div>
                <div class="beantown font-x-l">{{$ctrl.cache.profile.cptpt | numberFilter : '-'}}</div>
            </div>
            <div class="divider"></div>
            <div class="divided-content">
                <div class="font-l">{{$ctrl.label.profile.tier}}</div>
                <img class="tier-icon" ng-src="{{$ctrl.cache.profile.cptpt | tierImageSrc }}"/>
            </div>
            <div class="divider"></div>
            <div class="divided-content">
                <div class="font-l">{{$ctrl.label.profile.winrate}}</div>
                <div class="beantown font-x-l">{{$ctrl.cache.profile.winGame / $ctrl.cache.profile.totalGame | percent:"0.0%"}}</div>
            </div>
        </div>
    </section>
    <!-- <section class="recent">
        <div class="header">
                <div class="title">최근 가장 좋은 플레이</div>
                <div class="line"><div></div></div>
        </div>
    </section> -->
    <section class="most3">
        <div class="header">
                <div class="title">Most3</div>
                <div class="line"><div></div></div>
        </div>
        <div class="content">
            <table>
                <tr>
                    <th class="font-l text-align-center"></th>
                    <th class="font-l text-align-center">{{$ctrl.label.most3.winRate}}</th>
                    <th class="font-medium text-align-center">{{$ctrl.label.most3.avgPt}}</th> 
                    <th class="font-medium text-align-center">{{$ctrl.label.most3.kda}}</th>
                    <th class="font-medium text-align-center">{{$ctrl.label.most3.burnTime}}</th>
                </tr>
                <tr ng-repeat="most in $ctrl.cache.most3">
                    <td><img ng-src="{{most.key | heroImageSrc}}"/></td>
                    <td class="win-rate">
                        <div class="beantown font-l">{{ most.winRate | percent:"0%"}}</div>
                        <div class="font-m">{{most.totalGames}}/{{most.winGames}}/{{most.loseGames}}</div>
                    </td>
                    <td class="font-l">{{most.avgScore}}</td> 
                    <td class="font-l">{{most.kda}}</td>
                    <td class="font-l">{{most.burningTime}}</td>
                </tr>
            </table>
        </div>
    </section>
    <section class="trend">
        <div class="header">
            <div class="title">Trend</div>
            <div class="line"><div></div></div>
        </div>
        <div>
            <!-- Trend Select Button -->
            <div class="btn-group" role="group" aria-label="Select Trend Btn">
                <button id="trend-yesterday-btn" type="button" class="btn" ng-click="$ctrl.onTrendBtn($event)">
                    <div>{{$ctrl.label.trend.yesterday}}</div>
                    <div>{{$ctrl.cache.trend.winRates.yesterday.totalGames | nanFilter : "-"}}</div>
                </button>
                <button id="trend-today-btn" type="button" class="btn" ng-click="$ctrl.onTrendBtn($event)">
                    <div>{{$ctrl.label.trend.today}}</div>
                    <div>{{$ctrl.cache.trend.winRates.today.totalGames | nanFilter : "-"}}</div>
                </button>
                <button id="trend-week-btn" type="button" class="btn" ng-click="$ctrl.onTrendBtn($event)">
                    <div>{{$ctrl.label.trend.week}}</div>
                    <div>{{$ctrl.cache.trend.winRates.week.totalGames | nanFilter : "-"}}</div>
                </button>
            </div>
            <!-- 점수변동 폭 -->
            <div class="content-row-box">
                <div class="font-medium"><span class="glyphicon glyphicon-sort"></span> {{$ctrl.label.trend.diffCptptTitle}} </div>
                <div class="flex">
                    <div class="font-x-large">{{$ctrl.dynCache.diffCptpt.diffCptpt | upDownSymbol}}</div>
                    <div class="font-xx-large">{{$ctrl.dynCache.diffCptpt.diffCptpt | nanFilter : "-"}}</div>
                    <div>
                        <div>{{$ctrl.dynCache.diffCptptLabel.before}}</div>
                        <div>{{$ctrl.dynCache.diffCptpt.before | nanFilter : "-"}}</div>
                    </div>
                    <div>-></div>
                    <div>
                        <div>{{$ctrl.dynCache.diffCptptLabel.after}}</div>
                        <div>{{$ctrl.dynCache.diffCptpt.after | nanFilter : "-"}}</div>
                    </div>
                </div>
            </div>
            <div class="content-row-box">
                <div class="font-medium"><span class="glyphicon glyphicon-tasks"></span> {{$ctrl.label.trend.winRate}} </div>
                <div style="width:80%;">
                    <div>시즌전체</div>
                    <div class="flex f-align-h-baseline">
                        <div style="width:100%" class="progress">
                            <div class="progress-bar bg-success" role="progressbar"
                                    style="width:{{ $ctrl.dynCache.currentProcessBar.success | percent :'0%'}}"></div>
                            <div class="progress-bar bg-warning" role="progressbar"
                                style="width:{{ $ctrl.dynCache.currentProcessBar.warning | percent :'0%'}}"></div>
                            <div class="progress-bar bg-danger" role="progressbar" 
                                style="width:{{ $ctrl.dynCache.currentProcessBar.danger | percent :'0%'}}"></div>
                        </div>
                        <div class="labelNumber flex beantown font-x-l">
                                <animate-number number="$ctrl.dynCache.currentProcessBar.winRates" time="500" has-comma="false"></animate-number>
                                <span>%</span>
                            </div>
                    </div>
                </div>
                <div style="width:70%;">
                    <div>어제, 오늘, 주간</div>
                    <div class="flex f-align-h-baseline">
                        <div style="width:60%;" class="progress">
                            <div class="progress-bar bg-success" role="progressbar"
                                 style="width:{{ $ctrl.dynCache.selectedProcessBar.success | percent :'0%'}}"></div>
                            <div class="progress-bar bg-warning" role="progressbar"
                                style="width:{{ $ctrl.dynCache.selectedProcessBar.warning | percent :'0%'}}"></div>
                            <div class="progress-bar bg-danger" role="progressbar" 
                                style="width:{{ $ctrl.dynCache.selectedProcessBar.danger | percent :'0%'}}"></div>
                        </div>
                        <div class="labelNumber flex beantown font-x-l">
                            <animate-number number="$ctrl.dynCache.selectedProcessBar.winRates" time="500" has-comma="false"></animate-number>
                            <span>%</span>
                        </div>
                    </div>
                </div>
            </div>
            <!-- <div class="content-row-box">
                <div class="font-medium"><span class="glyphicon glyphicon-signal"></span> {{$ctrl.label.trend.most3}} </div>
            </div> -->
        </div>
        <div>
        </div>
    </section>
</div>