/logs/*
!.gitkeep
node_modules/
bower_components/
tmp
.DS_Store
.idea

/* project extras */
.sandbox
.skeleton

/* dev */
/client/assets

/* dist */
/.tmp
/dist
/dist.dryrun

/* ops */
.ssh/**

server-cron/.log
server-cron/.report
server-cron/.smtp




/* secret */
.secrets
/server/config/environment
/server-cron/config/environment

stat-map-builder