/logs/*
!.gitkeep
node_modules/
bower_components/
tmp
.DS_Store
.idea

/* dev */
/client/assets

/* dist */
/.tmp
/dist

/* ops */
.ssh/**

server-cron/.log
server-cron/.report
server-cron/.smtp


/* sandbox */
sandbox

/* secret */
/server/config
/server-cron/config

.secrets