hero-favorites .table-container {
    overflow-y : auto;
}

hero-favorites table {
    table-layout: fixed;
}

hero-favorites table th {
    width : 20%;
    text-align: center;
}

hero-favorites table tr {
    height: 10vh;
}

hero-favorites table td {
    text-align: center;
}

hero-favorites table img.player-icon {
    height: 8vh;
}

hero-favorites table img.tier-icon {
    height: 6vh;
}

hero-favorites table .btn.btn-secondary {
    color : white;
    border : none;
    background-color: transparent;
    width : 30px;
    height : 30px;
    padding : 2px;
}

/***************
Table Border
***************/