/* layout pattern */
.p-row {
    height: 100%;
    display: flex;
}

/* Row 2 Pattern */
.row-2 {
    height: 100%;
}
.row-2 > div {
    width : 100%;
    height : 50%;
    min-height: 50%;
}

.row-2--center > div{
    display: flex;
    justify-content: center;
}

.row-2--collect > div{
    display: flex;
}

.row-2--collect > div:nth-child(1){
    align-items: flex-end;
}

.row-2--collect > div:nth-child(2){
    align-items: flex-start;
}