<div class="freeboard-detail-container">

    <!-- content -->
    <h1 class="title">{{$ctrl.freeboard.title}}</h1>
    <quill-render delta="$ctrl.freeboard.content"></quill-render>

    <!-- reply list-->
    <div class="comment" ng-repeat="comment in $ctrl.freeboard.comments">
        <div class="comment-content">{{comment.content}}</div>
        <div class="flex comment-info">
            <div class="content">{{comment.owner.username == undefined ? comment.owner.email : comment.owner.username}}</div>
            <div class="content">{{comment.createdAt}}</div>
        </div>
    </div>

    <!-- reply -->
    <div class="form-group">
        <label for="comment">Comment:</label>
        <textarea class="form-control" rows="3" id="comment" ng-model="$ctrl.comment"></textarea>
    </div>
    <button type="button" class="btn btn-outline-light" ng-click="$ctrl.clickComment()">댓글등록</button>


    <div class="fixed-bottom flex f-w-end f-h-center">
        <button type="button" class="btn btn-outline-warning" ng-click="" translate>FREEBOARD.LIST.UPVOTE</button>
        <button type="button" class="btn btn-outline-success" ng-click="$ctrl.onSave()" translate>FREEBOARD.LIST.COMMENT</button>
    </div>

</div>

<!-- <div class="fixed-bottom flex f-w-end f-h-center">
    <button type="button" class="btn btn-outline-warning" ng-click="$ctrl.onTempPost()" translate>WRITING.TEMPORARY_SAVE</button>
    <button type="button" class="btn btn-outline-success" ng-click="$ctrl.onSave()" translate>WRITING.WRITE</button>
    <button type="button" class="btn btn-outline-danger" ng-click="$ctrl.onPost()" translate>WRITING.CANCLE</button>
</div> -->
