nav .navbar-toggler-right button.custom {
    height:30px;
    width:30px; 
    vertical-align:middle;
    border-width: 1px;
    border-color:rgba(0, 0, 0, 0.1);
    border-radius: 0.25rem;
    background-color: transparent;
    padding : 0.25rem 0.25rem;
    opacity: 0.8
}
@media (min-width: 768px) {
    nav .navbar-toggler-right button.custom {
        height:40px;
        width:40px; 
    }
}