<nav class="navbar fixed-top navbar-toggleable-md navbar-light bg-faded">
    <div class="navbar-toggler-right">
        <button class="custom" type="button" aria-controls="" aria-expanded="" aria-label="">
                <img src="/assets/svgs/icons/si-glyph-global.svg"/>
        </button>
        <button ng-click="$ctrl.goRandomPage()" class="custom" type="button" aria-controls="" aria-expanded="" aria-label="랜덤페이지">
            <img src="/assets/svgs/icons/si-glyph-arrow-shuffle.svg"/>
        </button>
        <button class="custom navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <img src="/assets/svgs/icons/si-glyph-left-justify.svg"/>
        </button>
    </div>
    <a class="navbar-brand mb-0" href="#">ggez</a>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link disabled" href="#">게시판</a>
            </li>
            <li class="nav-item">
                <a class="nav-link disabled" href="#">버그신고</a>
            </li>
            <li class="nav-item">
                <a class="nav-link disabled" href="#">스크림</a>
            </li>
        </ul>
    </div>
</nav>