<div class="freeboard-writing-container">
    <input type="text" class="form-control" placeholder="{{ 'WRITING.TITLE_PLACE_HOLDER' | translate }}" ng-model="$ctrl.title">
    <div class="content-container">
        <text-editor content-messenger="$ctrl.contentMessenger"></text-editor>
    </div>
    <div class="fixed-bottom flex f-w-end f-h-center">
        <button type="button" class="btn btn-outline-warning" ng-click="$ctrl.onTempPost()" translate>WRITING.TEMPORARY_SAVE</button>
        <button type="button" class="btn btn-outline-success" ng-click="$ctrl.onSave()" translate>WRITING.WRITE</button>
        <button type="button" class="btn btn-outline-danger" ng-click="$ctrl.onPost()" translate>WRITING.CANCLE</button>
    </div>
</div>
