
<input type="text" class="form-control" placeholder="제목을 입력하세요" aria-label="Recipient's username" aria-describedby="basic-addon2" ng-model="$ctrl.title">
<text-editor content-messenger="$ctrl.contentMessenger"></text-editor>
<button type="button" class="btn btn-outline-success" ng-click="$ctrl.onSave()">올리기</button>
<button type="button" class="btn btn-outline-danger" ng-click="$ctrl.onPost()">취소</button>
<button type="button" class="btn btn-outline-warning" ng-click="$ctrl.onTempPost()">임시저장</button>

