/**
*   Layout
*/
.hero-detail-inner-container
.side-button-container {
    display: flex;
}


.hero-detail-inner-container
.side-button-container .btn-group {
    flex : 1 0 0;
}


.hero-selectors-container > .wh {
    width:100%;
    max-width: 768px;
}

.hero-detail-inner-container
.first-section {
    width : 100%;
}
.hero-detail-inner-container
.second-section {
    width : 100%;
}

.hero-detail-inner-container
.hero-selectors-container {
    position: fixed;
    left: 0;
    bottom:0;
    width: 100%;
}

@media (min-width: 768px) {
    .hero-detail-inner-container
    .first-section {
        width : 50%;
        max-height: 63vh;
    }
    .hero-detail-inner-container
    .second-section {
        width : 50%;
        max-height: 63vh;
    }
    .hero-detail-inner-container
    .hero-selectors-container {
        position: absolute;
        bottom:0;
        z-index: 2;
        width: 100%;
    }
}

/* Layout Indicator */
.hero-detail-inner-container 
.loading-screen {
    color : white;
    width : 100%;
    height: 100%;
    z-index: 2;
}

.hero-detail-inner-container 
.loading-screen .back-ground {
    width: 100%;
    height: 100%;
    opacity: 0.5;
    background-color:black;
}

.hero-detail-inner-container 
.loading-screen .message {
    z-index: 4;
    font-size:30px;
}

@media (min-width: 768px) {
    .loading-screen {
        height: 100%;
    }
}


/**
* Width and Height
*/
.hero-detail-inner-container
.padding-for-fixed-bottom {
    height: 50px;
}

@media (min-width: 768px) {
    .hero-detail-inner-container
    .padding-for-fixed-bottom {
        height: 75px;
    }
}

.hero-detail-inner-container
.first-section > div {
    max-width : 350px;
}


/* styles */
.hero-detail-inner-container
.side-button-container {
    margin-top: 5px;
}

.hero-detail-inner-container
.side-button-container .btn-group:nth-child(2) {
    margin-left: 5px;
    margin-right: 5px;
}

.hero-detail-inner-container
.side-button-container button {
    background-color: #00000000;
    border : 1px solid white;
    color: white;
}

.hero-detail-inner-container
.side-button-container button.active {
    background-color: white;
    color: black;
}

.hero-detail-inner-container
.side-button-container button {
    background-color: #00000000;
    color: white;
}