<div class="hero-detail-inner-container pos-relative">
    <div class="side-button-container">
        <div class="btn-group" role="group" aria-label="">
            <button id="per_death" ng-click="$ctrl.onPerButton($event, 'death')" type="button" class="btn w-50-pct active" >목숨당</button>
            <button id="per_game" ng-click="$ctrl.onPerButton($event, 'game')" type="button" class="btn w-50-pct">경기당</button>
        </div>
        <div class="btn-group" role="group" aria-label="">
            <button type="button" ng-click="$ctrl.onChangeTableResultUnit($event, 'percent')" class="btn w-50-pct active">%</button>
            <button type="button" ng-click="$ctrl.onChangeTableResultUnit($event, 'subtract')" class="btn w-50-pct">+-</button>
        </div>
        <div class="btn-group" role="group" aria-label="">
            <button type="button" ng-click="$ctrl.onChangeTableColumnSelected($event, 'left')" class="w-50-pct">< Table</button>
            <button type="button" ng-click="$ctrl.onChangeTableColumnSelected($event, 'right')" class="w-50-pct">Table ></button>
        </div>
    </div>
    <div class="flex-wrap pos-relative">
        <!-- <div class="loading-screen pos-absolute pos-relative flex f-align-w-center f-align-h-center"> 
            <div class="back-ground pos-absolute"></div>
            <div class="message">{{$ctrl.label.please_select_data}}</div>
        </div> -->
        <!-- "$ctrl.radar.labelColumn""$ctrl.table.labelColumn" -->
        <div class="first-section" >
            <feature-radar-chart
                label-column = "$ctrl.bind.statIndexes"
                stat-indexes = "$ctrl.bind.statIndexes"
                first-column = "$ctrl.bind.p1Stats"
                second-column = "$ctrl.bind.p2Stats"
                third-column ="$ctrl.bind.tierStats">
            </feature-radar-chart>
        </div>
        <div class="second-section">
            <compare-table 
                table-header = "$ctrl.bind.tableHeader"
                stat-indexes = "$ctrl.bind.statIndexes"
                label-column = "$ctrl.bind.statIndexes"
                first-column = "$ctrl.bind.p1Stats"
                second-column = "$ctrl.bind.p2Stats"
                third-column ="$ctrl.bind.tierStats"
                />
            </compare-table>
        </div>
    </div>
    <div class="padding-for-fixed-bottom"></div>
    <div class="hero-selectors-container flex f-align-w-center" style="z-index: 1000">
        <div class="wh">
            <hero-selectors
                p1-game-label = "$ctrl.p1GameLabel"
                p2-game-label = "$ctrl.p2GameLabel"
                tier-game-label = "$ctrl.tierGameLabel",
                hero-game-label-p1 = "$ctrl.heroGameLabel.p1",
                hero-game-label-p2 = "$ctrl.heroGameLabel.p2",
                
                p1-player      =   "$ctrl.currentPlayer" 
                
                check-user-datas        =   "$ctrl.checkUserDatas($id)"
                store-user-datas        =   "$ctrl.storeUserDatas($id, $userDatas)" 
                selected                =   "$ctrl.selected" 
                on-selector-changes     =   "$ctrl.onSelectorChanges($selector)"
                change-p2-player-data   =   "$ctrl.changeP2PlayerData($id)"

                on-table-compare-toggle = "$ctrl.onCompareToggle()"
                on-table-result-toggle = "$ctrl.onResultToggle()"
                >
            </hero-selectors>
        </div>
    </div>
</div>



