.header-banner .header-promotion {
    background-color: #041e3a;
    color: #ffffff;
    padding: 12px 0;
    text-transform: uppercase;
    font-family: "HCo Gotham Book";
    letter-spacing: 0.05em;
  }

  .ticker-item,
  .header-promotion a,
  .header-promotion a:hover {
    font-size: 12px;
    line-height: 1.4em;
    color: #fff;
    text-decoration: none;
  }
  #ticker-banner.rl-tickerloop2 .ticker-item {
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0 3em;
  }
  .header-promotion a {
    font-family: "HCo Gotham Bold";
  }

  .header-promotion a span.rl-link-underline {
    position: relative;
    font-family: "HCo Gotham Book";
    margin-left: 0.8em;
    text-transform: capitalize;
  }
.header-promotion a span.rl-link-underline:after {
    position: absolute;
    content: "";
    left: 0;
    bottom: 0px;
    width: 100%;
    height: 1px;
    background: rgba(255, 255, 255, 0.6);
}
  .header-promotion a span.rl-link-underline:hover {
    font-family: "HCo Gotham Bold";
  }

  @keyframes tickerloop2 {
    0% {
      transform: translateX(0);
      flex-direction: row;
    }
    40% {
      transform: translateX(0);
      flex-direction: row;
    }
    50% {
      transform: translateX(-50%);
      flex-direction: row;
    }
    89.9999% {
      transform: translateX(-50%);
      flex-direction: row;
    }
    90% {
      transform: translateX(0);
      flex-direction: row-reverse;
    }
    99.9999% {
      transform: translateX(-50%);
      flex-direction: row-reverse;
    }
    100% {
      transform: translateX(0);
      flex-direction: row;
    }
  }

  @-webkit-keyframes tickerloop2 {
    0% {
      transform: translateX(0);
      flex-direction: row;
    }
    40% {
      transform: translateX(0);
      flex-direction: row;
    }
    50% {
      transform: translateX(-50%);
      flex-direction: row;
    }
    89.9999% {
      transform: translateX(-50%);
      flex-direction: row;
    }
    90% {
      transform: translateX(0);
      flex-direction: row-reverse;
    }
    99.9999% {
      transform: translateX(-50%);
      flex-direction: row-reverse;
    }
    100% {
      transform: translateX(0);
      flex-direction: row;
    }
  }

  #ticker-banner.rl-tickerloop {
    overflow: hidden;
    width: 100%;
  }
  #ticker-banner.rl-tickerloop2 .rl-loop-container {
    display: flex;
    align-items: center;
    width: 200%;
    -webkit-animation: tickerloop2 20s infinite;
    animation: tickerloop2 15s infinite;
    animation-duration: 8s;
  }

  #ticker-banner.rl-tickerloop2 .rl-loop-container:hover,
  #ticker-banner.rl-tickerloop2 .rl-loop-container:active, 
  #ticker-banner.rl-tickerloop2 .rl-loop-container:focus-within {
    -webkit-animation-play-state: paused;
    -moz-animation-play-state: paused;
    -o-animation-play-state: paused;
    animation-play-state: paused;
  }
  #ticker-banner.rl-tickerloop2 .ticker-item {
    width: 50%;
  }
  @media screen and (max-width : 767px) {
    .header-banner .header-promotion {
      padding: 8px 0;
    }
    .ticker-item,
    .header-promotion a,
    .header-promotion a:hover {
      font-size: 9px;
    }
  }

.tooltip-content {
    display: none;
}