<div class="hero-main flex-column f-align-h-center">
    <div class="header-wh">
        <hero-header current-player="$ctrl.currentPlayer"></hero-header>
    </div>
    <div class="body-wh flex f-align-w-center base-padding">
        <ui-view
            current-player = "$ctrl.currentPlayer"
            current-player-datas = "$ctrl.currentPlayerData"
            all-players="$ctrl.players"
            all-player-datas="$ctrl.playerDatas"
            tier-data="$ctrl.tierData">
        </ui-view>
    </div>
</div>