/* Structure */
.hero-main {
    background-color: black;
    color: white;
	overflow-x:hidden;
    overflow-y:hidden;
}

/*******
* Width and Height
********/
.hero-main .header-wh {
    width : 100%;
}

.hero-main .body-wh {
    width : 100%;
}
@media (min-width: 768px) {
    .hero-main .header-wh {
        max-width: 868px;
    }

    .hero-main .body-wh {
        max-width: 768px;
    }
}