/* title */
.fixed-bottom-title {
    height: 50px;
}

@media (min-width: 768px) {
    .fixed-bottom-title {
        height: 65px;
    } 
}

hero-selectors .player-search-bar {
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 5px;
    padding-top: 5px;
}



hero-selectors .mode-detail .profile img{
    height : 100%;
}

hero-selectors .mode-compare .profile {
    width : 25%;
}

hero-selectors .mode-compare .profile img {
    width : 25px;
}

hero-selectors .vs-label {
    margin-left : 2%;
    margin-right: 2%;
}

.fixed-bottom-content {
    padding-left : 5px;
    padding-right: 5px;
}

@media (min-width: 768px) {
    .fixed-bottom-content {
        padding-left : 30px;
        padding-right: 30px;
    } 
}

.hero-selectors-inner-container
.selector-separtor {
    height: 2px;
}

@media (min-width: 768px) {
    .hero-selectors-inner-container
    .selector-separtor {
        height: 5px;
    }
}

/* Styles For Container */
.hero-selectors-inner-container {
    background: black;
    border-top: 1px solid gray;
}


/* Button width and height */
.hero-selectors-inner-container
.fixed-bottom-title button {
    width : 40px;
    height: 40px;
    margin-top : 5px;
    margin-bottom : 5px;
    margin-right : 2px;
}

/* player search bar */
.hero-selectors .player-search-bar button {
    width: 30px;
    height: 30px;
}



.hero-selectors-inner-container .tier-selector
img {
    max-width: 100%;
    max-height: 100%;
}