/* Fixed Bottom Title */
.fixed-bottom-title .profile .upper-text, 
.fixed-bottom-title .profile .lower-text {
    font-family: sans-serif;
    font-weight: 900;
    padding-left: 0.1em;
}


hero-selectors button {
    color : white;
    background-color: #404040;
}