/* height and width */
.freeboard-container {
    height : 70vh;
}

.freeboard {
    height : 30%;
}

/* style : color */

/* style : border */
.status-outline {
    border : 2px solid var(--color, white);
    border-radius: 10%;
}

.status-outline--views {
    --color : red;
}

.status-outline--upvotes {
    --color : magenta;
}

.status-outline--answers {
    --color : yellow;
}