<table>
    <tr>
        <th>구분</th>
        <th>어제경기</th> 
        <th>오늘경기</th>
        <th>티어데이터</th>
        <th>결과</th>
    </tr>
    <tr ng-repeat="data in $ctrl.tableDatas">
        <td>{{data[0]}} <span class="glyphicon glyphicon-question-sign" style="color:lightgray"></span></td>
        <td><div>{{data[1].score | numberFormat : "0.0"}}</div><div>{{data[1].point * 100 | numberFormat : "0.0"}}</div></td> 
        <td><div>{{data[2].score | numberFormat : "0.0"}}</div><div>{{data[2].point * 100 | numberFormat : "0.0"}}</div></td> 
        <td><div>{{data[3].score | numberFormat : "0.0"}}</div><div>{{data[3].point * 100 | numberFormat : "0.0"}}</div></td> 
        <td></td><!-- <td>{{data[4] | filter}}</td> -->
    </tr>
</table>