/* Radar Table Width */
/* Header Width */

/* Layout */
compare-table table {
    table-layout: fixed;
    width : 100%;
}

compare-table table th:nth-child(1), compare-table td:nth-child(1){
    width : 32%
}

compare-table table th:not(nth-child(1)), compare-table td:not(nth-child(1)) {
    width : 17%
}

compare-table table th, compare-table table td {
    height : 50px;
}

/* Table Background Color*/
compare-table table {background-color : #404040}
compare-table table th:nth-child(1){background-color:DimGrey}
compare-table table th:nth-child(2), {background-color:rgba(255,99,132,0.2)}
compare-table table td:nth-child(2){background-color:rgba(255,99,132,0.4)}
compare-table table th:nth-child(3){background-color:rgba(154,208,245,0.2)}
compare-table table td:nth-child(3){background-color:rgba(154,208,245,0.4)}
compare-table table th:nth-child(4){background-color:rgba(255,230,170,0.2)}
compare-table table td:nth-child(4){background-color:rgba(255,230,170,0.4)}
compare-table table th:nth-child(5){background-color:DimGrey}

/* Text Align */
compare-table table th {text-align: center;}
compare-table table td {text-align: center;}

/* Border */
compare-table table th {border-bottom: 2px solid lightgray}
compare-table table td {border-bottom: 1px solid gray;}
