<div class="overlay-parent">
    <div class="overlay-child flex f-align-w-center f-align-h-center">
        <div class="element">Please, select hero</div>
        <div class="background" style="background-color: black; opacity: 0.7"></div>
    </div>
    <!-- <button ng-click="$ctrl.compareToggle()">테이블 결과 변경 버튼</button>
    <button ng-click="$ctrl.onResultToggle()">결과 % <-> 등락폭</button> -->
    </div>
    <div class="table-container">
        <table width="100%">
            <thead>
                <tr>
                    <th>{{ $ctrl.tableHeader[0].index }}</th>
                    <th>{{ $ctrl.tableHeader[1].index | i18nDateIndex : $ctrl.lang }}</th>
                    <th>{{ $ctrl.tableHeader[2].index | i18nDateIndex : $ctrl.lang }}</th>
                    <th>{{ $ctrl.tableHeader[3].index | i18nTierIndex : $ctrl.lang }}</th>
                    <th>result</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="tableRow in $ctrl.tableRows">
                    <td>{{ tableRow[0] | i18nStatIndex : $ctrl.lang }} <span class="glyphicon glyphicon-question-sign" style="color:lightgray"></span></td>
                    <td ng-class="{active : $ctrl.isFirstActive}">
                        <div class="beantown td-up">{{tableRow[1].point  | upperNumberFormat : "0.0"}}</div>
                        <div class="td-down">{{tableRow[1].score | lowerNumberFormat : "0.00"}}</div>
                    </td> 
                    <td ng-class="{active : $ctrl.isSecondActive}">
                        <div class="beantown td-up">{{tableRow[2].point  | upperNumberFormat : "0.0"}}</div>
                        <div class="td-down">{{tableRow[2].score | lowerNumberFormat : "0.00"}}</div>
                    </td> 
                    <td ng-class="{active : $ctrl.isThirdActive}">
                        <div class="beantown td-up">{{tableRow[3].point  | upperNumberFormat : "0.0"}}</div>
                        <div class="td-down">{{tableRow[3].score | lowerNumberFormat : "0.00"}}</div>
                    </td> 
                    <td>
                        <div class="flex flex-wh-center">
                            <div class="result-percent flex f-align-h-baseline">
                                <up-down-symbol class="result-up-down-arrow" value="$ctrl.calcPercent(tableRow[$ctrl.indexes.a].point, tableRow[$ctrl.indexes.b].point)"></up-down-symbol>
                                <div class="result-percent-text">{{ $ctrl.calcPercent(tableRow[$ctrl.indexes.a].point, tableRow[$ctrl.indexes.b].point) | percentForResult | abs }}</div>
                                <div class="result-percent-symbol">{{ $ctrl.calcPercent(tableRow[$ctrl.indexes.a].point, tableRow[$ctrl.indexes.b].point) | percentSymbolForResult}}</div>
                            </div>
                            <div class="result-diff flex f-align-h-baseline" style="display: none">
                                <up-down-symbol class="result-up-down-arrow" value="$ctrl.calcDiff(tableRow[$ctrl.indexes.a].score, tableRow[$ctrl.indexes.b].score)"></up-down-symbol>
                                <div class="result-percent-text">{{ $ctrl.calcDiff(tableRow[$ctrl.indexes.a].point, tableRow[$ctrl.indexes.b].point) | upperNumberFormat : "0.0" | abs }}</div>
                                <div class="result-percent-symbol">{{ $ctrl.calcDiff(tableRow[$ctrl.indexes.a].point, tableRow[$ctrl.indexes.b].point) | ptSymbolForResult}}</div>
                            </div>
                        </div>
                    </td>
                </tr>
                <tfoot>
                    <tr ng-class="{ 'display-none' : ($ctrl.toggleIndex != 0) }"><td class="row-result" colspan="5">{{$ctrl.tableHeader[2].index}} 보다 {{$ctrl.tableHeader[1].index}}이 {{$ctrl.bind.tableFooters[0].value | percentForResult | abs}} <up-down-symbol value="$ctrl.bind.tableFooters[0].value"></up-down-symbol> 했습니다.</td></tr>
                    <tr ng-class="{ 'display-none' : ($ctrl.toggleIndex != 1) }"><td class="row-result" colspan="5">{{$ctrl.tableHeader[3].index}} 보다 {{$ctrl.tableHeader[1].index}}이 {{$ctrl.bind.tableFooters[1].value | percentForResult | abs}} <up-down-symbol value="$ctrl.bind.tableFooters[1].value"></up-down-symbol> 했습니다.</td></tr>
                    <tr ng-class="{ 'display-none' : ($ctrl.toggleIndex != 2) }"><td class="row-result" colspan="5">{{$ctrl.tableHeader[3].index}} 보다 {{$ctrl.tableHeader[2].index}}이 {{$ctrl.bind.tableFooters[2].value | percentForResult | abs}} <up-down-symbol value="$ctrl.bind.tableFooters[2].value"></up-down-symbol> 했습니다.</td></tr>
                </tfoot>
            </tbody>
        </table>
    </div>
</div>