/** font declaration **/
@font-face {
    font-family: 'NanumBarunGothic';
    font-style: normal;
    src: url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWeb.eot');
    src: url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWeb.eot?#iefix') format('embedded-opentype'), url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWeb.woff') format('woff'), url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWeb.ttf') format('truetype');
   }

/* BeanTown Font*/
@font-face { 
    font-family: beantown;
    src: url(../assets/fonts/Beantown.ttf) format('truetype');
    font-style: normal;
    font-weight: normal
}
:root {
    font-size : 12px;
}

html, body {
    height: 100%;
}

html, body, #index {
    height: 100%;
  }

body {
    font-family: NanumBarunGothic;
}

.beantown {
    font-family: beantown;
}

@import url(https://fonts.googleapis.com/css?family=Josefin+Sans:300,400);
* {
  margin: 0;
  padding: 0;
}