/** font declaration **/
@font-face {
    font-family: 'NanumBarunGothic';
    font-style: normal;
    src: url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWeb.eot');
    src: url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWeb.eot?#iefix') format('embedded-opentype'), url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWeb.woff') format('woff'), url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWeb.ttf') format('truetype');
   }

/* BeanTown Font*/
@font-face { 
    font-family: beantown;
    src: url(../assets/fonts/Beantown.ttf) format('truetype');
    font-style: normal;
    font-weight: normal
}
/* font size for responsive */
:root {font-size : 12px}
@media (min-width : 768px) and (max-width: 1023px) {
    :root {font-size : 16px;}
}
@media (min-width: 1024px) {
    :root {font-size : 16px;}
}

html, body {
    background: black;
    height: 100%;
}

#index {
    height: 100%;
}

body {
    font-family: NanumBarunGothic;
}

.beantown {
    font-family: beantown;
}

@import url(https://fonts.googleapis.com/css?family=Josefin+Sans:300,400);
* {
  margin: 0;
  padding: 0;
}