<div class="freeboard-list-container">
        <div infinite-scroll='$ctrl.loadNext()' class="freeboards-container">
            <div ng-repeat="freeboard in $ctrl.freeboards" ng-click="$ctrl.clickFreeboard(freeboard)" class="freeboard-container w-100-pct flex f-h-center">
                <div class="flex">
                    <div class="status-display">
                        <div class="row-2-box row-2-box--collect status-outline status-outline--views">
                                <div translate>WRITING.VIEWS</div>
                                <div>{{freeboard.view_count | defaultValue : '0'}}</div>
                        </div>
                    </div>
                    <div class="status-display">
                        <div class="row-2-box row-2-box--collect status-outline status-outline--upvotes">
                                <div translate>WRITING.UPVOTES</div>
                                <div>{{freeboard.upvote_count | defaultValue : '0'}}</div>
                        </div>
                    </div>
                    <div class="status-display">
                        <div class="row-2-box row-2-box--collect status-outline status-outline--answers">
                                <div translate>WRITING.ANSWERS</div>
                                <div>{{freeboard.comment_count | defaultValue : '0'}}</div>
                        </div>
                    </div>
                </div>
                <div class="summary-display f-grow-1">
                    <div class="title-font" style="font-size:15px">{{freeboard.title}}</div>
                    <div class="flex sub-title-font" style="font-size:10px; color:lightgrey">
                        <div>{{freeboard.createdAt}}</div>
                        <div>{{freeboard.createdBy}}</div>
                    </div>
                </div>
            </div>
            <div ng-show="$ctrl.busy">Loading data...</div>
            <div ng-show="$ctrl.pageIndex == 'last'">Last</div>
        </div>
        <div class="fixed-bottom flex f-w-end f-h-center">
            <!-- traditional-pagination for desktop -->
            <!-- <div>
                <ul class="pagination justify-content-center">
                    <li class="page-item">
                        <a class="page-link" href="#" aria-label="Previous">
                            <span aria-hidden="true">&laquo;</span>
                            <span class="sr-only">Previous</span>
                        </a>
                    </li>
                    <li class="page-item" ng-repeat="pageIndex in $ctrl.pageIndexes">
                        <a class="page-link" ng-click="$ctrl.clickPageNum($event)" style="color:black">{{pageIndex}}</a>
                    </li>
                    <li class="page-item">
                        <a class="page-link" href="#" aria-label="Next">
                            <span aria-hidden="true">&raquo;</span>
                            <span class="sr-only">Next</span>
                        </a>
                    </li>
                </ul>
            </div> -->
            <div>
                <button type="button" class="btn btn-outline-light" ng-click=''>검색</button>
                <button type="button" class="btn btn-outline-light" ng-click="">정렬</button>
                <button type="button" class="btn btn-outline-light" ng-click="$ctrl.goWriting()">글쓰기</button>
                <button type="button" class="btn btn-outline-light" ng-click="">위로</button>
            </div>
        </div>
    </div>
    <ul class="order-buttons nav nav-tabs justify-content-end">
            <li class="nav-item">
                <a class="nav-link">ORDER_RECENT</a>
            </li>
            <li class="nav-item">
                <a class="nav-link">ORDER_VIEWS</a>
            </li>
            <li class="nav-item">
                <a class="nav-link">ORDER_VOTES</a>
            </li>
            <li class="nav-item">
                <a class="nav-link">ORDER_COMMENTS</a>
            </li>
        </ul>
    