.comment-info {
    font-size: var(--reply-info-font-size);
    color : var(--reply-info-font-color);
}

.comment-content {
    font-size: var(--reply-content-font-size);
}


/* list structure */
.freeboard-detail-container .comment-list {
    min-height: 40px;
    margin-bottom: 10px;
    border-bottom: 1px solid grey;
}

.freeboard-detail-container .comment-writer {
    padding-top : 5px;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px;
    border : 1px solid grey;
}