<div class="flex flex--column">

    <!-- content -->
    <div class="order-1">
        <h1 class="title wb-break-word">{{$ctrl.freeboard.title}}</h1>
        <quill-render delta="$ctrl.freeboard.content"></quill-render>
    </div>


    <!-- comment list-->
    <div class="freeboard-comment">
        <div class="freeboard-comment__repeat" ng-repeat="comment in $ctrl.freeboard.comments">
            <div class="freeboard-comment__content">{{comment.content}}</div>
            <div class="freeboard-comment__info flex">
                <div class="content">{{comment.owner.username == undefined ? comment.owner.email : comment.owner.username}}</div>
                <div class="content">{{comment.createdAt}}</div>
            </div>
        </div>
    </div>
    <!-- comment -->
    <div class="freeboard-comment-writer">
        <div class="form-group">
            <label for="comment">Comment:</label>
            <textarea id="comment-textarea" class="form-control" rows="3" id="comment" ng-model="$ctrl.comment"></textarea>
        </div>
        <div class="flex f-w-between">
            <div> {{$ctrl.comment.length | defaultValue : 0}} / {{$root.CONST.rules.comment.maxStringLength}}</div>
            <button type="button" class="btn btn-outline-light" ng-click="$ctrl.onPostComment()" translate>FREEBOARD.DETAIL.POST_COMMENT</button>
        </div>
    </div>

    <!-- fixed bottom -->
    <div class="fixed-bottom-padding"></div>
    <div class="fixed-bottom fixed-bottom--freeboard fixed-bottom--static-in-desktop flex order-1 f-w-between f-h-center">
        <div class="flex">
            <button type="button" class="btn btn-outline-info m-l-5" translate>FREEBOARD.DETAIL.MODIFY</button>
            <button type="button" class="btn btn-outline-info m-l-3" translate>FREEBOARD.DETAIL.DELETE</button>
        </div>
        <div class="flex">
            <button type="button" class="btn btn-outline-warning m-r-3" ng-click="$ctrl.onUpvoteFreeboad()" translate>FREEBOARD.DETAIL.UPVOTE</button>
            <button type="button" class="btn btn-outline-success m-r-3" ng-click="$ctrl.onWriteComment()" translate>FREEBOARD.DETAIL.WRITE_COMMENT</button>
            <button type="button" class="btn btn-outline-light m-r-5" ng-click="$ctrl.goFreeboardList()" translate>FREEBOARD.DETAIL.GO_LIST</button>
        </div>
    </div>
</div>