/* Background Image */
#search-section { background: url('/assets/images/index-background/ana-screenshot-004.jpg') center center / cover no-repeat;}
#ranking-section { background: url(https://www.nxworld.net/example/css-scroll-down-button/bg02.jpg) center center / cover no-repeat;}
#qna-section { background: url(https://www.nxworld.net/example/css-scroll-down-button/bg03.jpg) center center / cover no-repeat;}

#index {
    background-color: black;
    margin : 0;
}

#index section {
  position: relative;
  width: 100%;
  height: 100%;
}

#index section::after {
  position: absolute;
  bottom: 0;
  left: 0;
  content: '';
  width: 100%;
  height: 80%;
  background: -webkit-linear-gradient(top,rgba(0,0,0,0) 0,rgba(0,0,0,.8) 80%,rgba(0,0,0,.8) 100%);
  background: linear-gradient(to bottom,rgba(0,0,0,0) 0,rgba(0,0,0,.8) 80%,rgba(0,0,0,.8) 100%);
}

#index section h1 {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 2;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  color: #fff;
  font : normal 300 64px/1 'Josefin Sans', sans-serif;
  text-align: center;
  white-space: nowrap;
}

#index a:not(.dropdown-item) {
  position: absolute;
  bottom: 20px;
  left: 50%;
  z-index: 2;
  display: inline-block;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  color: #fff;
  font : normal 400 20px/1 'Josefin Sans', sans-serif;
  letter-spacing: .1em;
  text-decoration: none;
  transition: opacity .3s;
}

#index a:not(.dropdown-item):hover {
  opacity: .5;
}

#index a:not(.dropdown-item) span {
  position: absolute;
  top: 0;
  left: 50%;
  width: 24px;
  height: 24px;
  margin-left: -12px;
  border-left: 1px solid #fff;
  border-bottom: 1px solid #fff;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  -webkit-animation: sdb04 2s infinite;
  animation: sdb04 2s infinite;
  box-sizing: border-box;
}

#index a:not(.dropdown-item) {
  padding-top: 60px;
}

/**
* Search Section
*/

/* Title in Search Section */
#index .title.position {
  position : absolute;
  z-index : 2;
  top : 40%;
}

/* Index Information in Title in Search Section */
@media (max-width: 767px) {
  #index .information.layout {
    display: flex;
    justify-content: center;
  }
  
  #index .information.font {
    font : normal 300 50px/1 'Josefin Sans', sans-serif;
    color : white;
  }
}
@media (min-width: 768px) {}
@media (min-width: 992px) {}
@media (min-width: 1200px) {}

#index .information > div {
  width: 40%;
  text-align: center;
}

/* Search Grounp in Title in in Search Section */

#index .search-group.layout {
  display : flex;
}

/* key frames */
@-webkit-keyframes sdb04 {
  0% {
    -webkit-transform: rotate(-45deg) translate(0, 0);
  }
  20% {
    -webkit-transform: rotate(-45deg) translate(-10px, 10px);
  }
  40% {
    -webkit-transform: rotate(-45deg) translate(0, 0);
  }
}
@keyframes sdb04 {
  0% {
    transform: rotate(-45deg) translate(0, 0);
  }
  20% {
    transform: rotate(-45deg) translate(-10px, 10px);
  }
  40% {
    transform: rotate(-45deg) translate(0, 0);
  }
}









/* #thanks {
    background-color: #fff;
  }
  #thanks::after {
    content: none;
  }
  #thanks div {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 2;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
  }
  #thanks h2 {
    margin-bottom: 60px;
    color: #333;
    font : normal 300 64px/1 'Josefin Sans', sans-serif;
    text-align: center;
    white-space: nowrap;
  }
  #thanks p {
    color: #333;
    font : normal 400 20px/1 'Josefin Sans', sans-serif;
  }
  #thanks p a {
    color: #333;
    text-decoration: none;
    transition: color .3s;
  }
  #thanks p a:hover {
    color: #888;
  }
  */