<app-nav></app-nav>
<div id="index" class="ui-route-index">
    <section id="search-section" class="flex flex-column f-align-h-center w-100-pct h-100-pct">
        <div class="header-banner margin-for-app-nav">
            <div class="header-promotion">
                <div id="ticker-banner" class="rl-tickerloop rl-tickerloop2">
                    <div class="rl-loop-container">
                        <div id="ticker-item1" class="ticker-item">
                            > <strong>베타</strong> 서비스 중입니다. 
                        </div>
                        <div id="ticker-item2" class="ticker-item">
                            > 배틀태그는 <strong>대소문자</strong> 를 정확히 입력해주세요
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="padding"></div>
        <div class="display-info-container flex f-align-w-center f-align-h-end">
            <div>
                <div>Total Players</div>
                <div><animate-number number="$ctrl.indexInformation.totalPlayers" time="1000" has-comma="true"></animate-number></div>  
            </div>
            <div>
                <div>Total Games</div>
                <div><animate-number number="$ctrl.indexInformation.totalGames" time="1000" has-comma="true"></animate-number></div> 
            </div>
        </div>
        <div class="search-bar-container">
            <div class="input-group h-100-pct">
                <!-- <div class="input-group-btn">
                    
                    <button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        {{$ctrl.device == undefined ? 'device' : $ctrl.device }}
                    </button> 
                    <div class="dropdown-menu">
                        <a class="dropdown-item" ng-click="$ctrl.device='pc'">pc</a>
                        <a class="dropdown-item" ng-click="$ctrl.device='xbox'">xbox</a>
                        <a class="dropdown-item" ng-click="$ctrl.device='ps4'">ps4</a>
                    </div>
                </div>
                <div class="input-group-btn">
                    <button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        {{$ctrl.region == undefined ? 'region' : $ctrl.region }}
                    </button> 
                    <div class="dropdown-menu">
                        <a class="dropdown-item" ng-click="$ctrl.region='kr'">kr</a>
                        <a class="dropdown-item" ng-click="$ctrl.region='eu'">eu</a>
                        <a class="dropdown-item" ng-click="$ctrl.region='us'">us</a>
                        <a class="dropdown-item" ng-click="$ctrl.region='cn'">cn</a>
                    </div>
                </div> -->
                <span class="input-group-addon" id="sizing-addon2">PC</span>
                <span class="input-group-addon" id="sizing-addon2">KR</span>
                <input type="text" class="form-control no-border" ng-model="$ctrl.input" placeholder="Input your btg" ng-enter="$ctrl.search()" aria-label="Btg input with dropdown button" >
                <span class="input-group-btn">
                    <button type="button" class="btn btn-secondary" ng-click="$ctrl.search()"><i class="material-icons">search</i></button>
                </span>
            </div>
        </div>
        <div class="player-table-container">
            <div id="no-result-in-searched-player" class="flex f-align-w-center" style="display:none; color: white; margin-top : 5px">
                검색결과가 없습니다.
            </div>
            <table class="w-100-pct display-none" style="color:white; text-align:center;">
                <thead>
                    <tr>
                        <th>Icon</th>
                        <th>BattleTag</th>
                        <th>Tier</th>
                        <th>Cptpt</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="player in $ctrl.searchedPlayerList" ng-click="$ctrl.moveHeroPage('pc', 'kr', player._id)" style="border-top: 1px solid white">
                        <td style="height:5vh"><img ng-src="{{player.iconUrl}}" style="height:100%"/></td>
                        <td>{{player.btn}}</td>
                        <td style="height:5vh"><img ng-src="{{player.cptpt | tierImageSrc}}" style="height:100%"/></td>
                        <td>{{player.cptpt}}</td> 
                    </tr>
                </tbody>
            </table>
        </div>
        <!-- <div class="anchor-container pos-absolute"> -->
        <a href="#medal-of-honor-section"><span></span>Medal of Honor</a>
        <!-- </div> -->
    </section>
    <section id="medal-of-honor-section">
        <a href="#ranking-section"><span></span>Ranking</a>
    </section>
    <section id="ranking-section">

    </section>
</div>